main {
    margin-bottom: 65px;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(194, 245, 255, 1) 100%);
    background-attachment: fixed;
}
.custom-btn:hover {
    color: white;
}